.home-component {
  background-color: #21a80b;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home-component svg {
    width: 80vw;
    height: auto;
    cursor: default;
    user-select: none;
    filter: drop-shadow(0.75vw 0.75vw 0 black); }
  .home-component input {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    padding: 0.5vw;
    border: none;
    outline: none;
    background-color: white; }
  .home-component input:focus {
    border: none; }
  .home-component .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .home-component .input .button {
      margin: 1vw;
      padding: 0.3vw 2vw;
      font-family: 'Handlee', cursive;
      font-size: 3vw;
      background-color: white;
      border-radius: 0.5vw;
      text-transform: uppercase;
      filter: drop-shadow(0.5vw 0.5vw 0 black);
      cursor: pointer;
      user-select: none; }
    .home-component .input .button:hover {
      opacity: 0.8; }
    .home-component .input .button:active {
      transform: translate(0.5vw, 0.5vw);
      filter: drop-shadow(0 0 0 black); }

.game-component {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #21a80b;
  overflow: hidden;
  width: 100vw;
  height: 56.25vw; }
  .game-component svg {
    width: 10vw;
    height: auto;
    cursor: pointer;
    user-select: none; }
  .game-component .players-container {
    overflow: hidden; }
    .game-component .players-container .player-component {
      position: absolute;
      bottom: 0;
      left: 10vw;
      width: 80vw;
      display: flex;
      justify-content: center; }
      .game-component .players-container .player-component .hand-component {
        min-width: 40vw;
        justify-content: flex-start;
        padding-bottom: 1vw; }
        .game-component .players-container .player-component .hand-component .card-component {
          transition: all 500ms;
          transform: rotate(0deg);
          transform-origin: bottom right; }
        .game-component .players-container .player-component .hand-component .card-component:hover {
          transform: rotate(-5deg) translateY(-1vw);
          padding-bottom: 0.5vw; }
        .game-component .players-container .player-component .hand-component .card-component + .card-component {
          margin: 0 0.3vw 0 -6.0vw; }
        .game-component .players-container .player-component .hand-component .card-component.playable {
          margin: 0 0.3vw 0 -5vw;
          padding-bottom: 1.5vw; }
        .game-component .players-container .player-component .hand-component .card-component.playable:hover {
          padding-bottom: 1.5vw; }
        .game-component .players-container .player-component .hand-component .card-component.enter {
          transform: translate(17vw, -22.5vw);
          margin: 0 0 0 -10vw;
          opacity: 0; }
      .game-component .players-container .player-component .drawButton {
        display: flex;
        flex-direction: column; }
    .game-component .players-container .ai1 {
      position: absolute;
      left: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .game-component .players-container .ai1 .hand-component {
        flex-direction: column;
        justify-content: center; }
        .game-component .players-container .ai1 .hand-component .card-component {
          margin-left: 0;
          transform: rotate(90deg); }
        .game-component .players-container .ai1 .hand-component .card-component + .card-component {
          margin-top: -12.5vw; }
    .game-component .players-container .ai2 {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: center; }
      .game-component .players-container .ai2 .hand-component {
        justify-content: center; }
        .game-component .players-container .ai2 .hand-component .card-component {
          transform: rotate(180deg); }
    .game-component .players-container .ai3 {
      position: absolute;
      right: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .game-component .players-container .ai3 .hand-component {
        flex-direction: column;
        justify-content: center; }
        .game-component .players-container .ai3 .hand-component .card-component {
          margin-left: 0;
          transform: rotate(270deg); }
        .game-component .players-container .ai3 .hand-component .card-component + .card-component {
          margin-top: -12.5vw; }
  .game-component .deck-component {
    position: absolute;
    left: 40vw;
    top: 18vw;
    display: flex; }
    .game-component .deck-component .card-component {
      margin-left: -9.6vw; }
  .game-component .deck-component.active .card-component:last-child {
    animation: deck 5000ms alternate infinite ease-in-out; }
  .game-component .played-cards-component {
    position: absolute;
    left: 65vw;
    top: 18vw;
    display: flex; }
    .game-component .played-cards-component .card-component {
      margin-left: -9.6vw;
      transform: rotate(0deg);
      transition: all 200ms ease-in; }
    .game-component .played-cards-component .card-component:nth-child(1) {
      transform: rotate(-2deg); }
    .game-component .played-cards-component .card-component:nth-child(2) {
      transform: rotate(3deg); }
    .game-component .played-cards-component .card-component:nth-child(3) {
      transform: rotate(-3deg); }
    .game-component .played-cards-component .card-component:nth-child(4) {
      transform: rotate(1deg); }
    .game-component .played-cards-component .card-component:nth-child(5) {
      transform: rotate(0deg); }

@keyframes deck {
  0% {
    transform: rotate(0deg); }
  90% {
    transform: rotate(0deg); }
  95% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(-5deg); } }
.hand-component {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.ai-player-component .hand-component .card-component + .card-component {
  margin-left: -7.5vw; }

.c0 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.back1 {
  font-family: "Roboto", sans-serif; }

.back2 {
  font-size: 12px; }

.back3 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.back4 {
  fill: #ED1C24; }

.front1 {
  fill: #ED1C24; }

.front2 {
  stroke: #000000;
  stroke-miterlimit: 10; }

.front3 {
  font-family: "Roboto", sans-serif; }

.front4 {
  font-size: 113.4552px; }

.front5 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10; }

.front6 {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.front7 {
  font-size: 27.3647px; }

.front8 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.rev0 {
  fill: #FFFFFF; }

.rev1 {
  fill: #ED1C24; }

.rev2 {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.rev3 {
  font-family: "Roboto",sans-serif; }

.rev4 {
  font-size: 27.3647px; }

.rev5 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.rev6 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.skip0 {
  fill: #FFFFFF; }

.skip1 {
  fill: #ED1C24; }

.skip2 {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.skip3 {
  font-family: "Roboto"; }

.skip4 {
  font-size: 27.3647px; }

.skip5 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.skip6 {
  fill: none;
  stroke: #000000;
  stroke-width: 15;
  stroke-miterlimit: 10; }

.skip7 {
  fill: none;
  stroke: #000000;
  stroke-width: 13;
  stroke-miterlimit: 10; }

.skip8 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 13;
  stroke-miterlimit: 10; }

.wild1 {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.wild2 {
  font-family: "Roboto"; }

.wild3 {
  font-size: 27.3647px; }

.wild4 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.wild5 {
  fill: red; }

.wild6 {
  fill: green; }

.wild7 {
  fill: blue; }

.wild8 {
  fill: yellow; }

.df1 {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.df2 {
  font-family: "Roboto"; }

.df3 {
  font-size: 27.3647px; }

.df4 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.df5 {
  fill: red; }

.df6 {
  fill: green; }

.df7 {
  fill: blue; }

.df8 {
  fill: yellow; }

.df9 {
  fill: none;
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10; }

.df10 {
  fill: none;
  stroke: #000000;
  stroke-width: 6;
  stroke-miterlimit: 10; }

.df11 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 6;
  stroke-miterlimit: 10; }

.dt1 {
  fill: #ED1C24; }

.dt2 {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.dt3 {
  font-family: "Roboto"; }

.dt4 {
  font-size: 27.3647px; }

.dt5 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.dt6 {
  fill: none;
  stroke: #000000;
  stroke-width: 6;
  stroke-miterlimit: 10; }

.dt7 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 6;
  stroke-miterlimit: 10; }

.logo0 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.logo1 {
  font-family: 'Roboto'; }

.logo2 {
  font-size: 24px; }

.logo3 {
  fill: #ED1C24; }

.red {
  fill: red; }

.yellow {
  fill: yellow; }

.green {
  fill: green; }

.blue {
  fill: blue; }

.black {
  fill: black; }

.gray {
  fill: gray; }

.hand-enter {
  transform: rotate(30deg) translateY(-25vh);
  opacity: 0; }

.hand-enter.hand-enter-active {
  opacity: 1;
  transform-origin: bottom center;
  transform: translateY(0vh);
  transition: all 500ms; }

.hand-exit {
  opacity: 1;
  transform-origin: top center;
  transform: translateY(0vh);
  transition: all 2000ms; }

.hand-exit.hand-exit-active {
  transform: rotate(-15deg) translateY(-30vh);
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
